<p id="notice"><%= notice %></p>

<p>
  <b>Comment:</b>
  <%= @review.comment %>
</p>

<p>
  <b>User:</b>
  <%= @review.user %>
</p>

<p>
  <b>Review date:</b>
  <%= @review.review_date %>
</p>

<p>
  <b>Rating:</b>
  <%= @review.rating %>
</p>

<p>
  <b>Movie:</b>
  <%= @review.movie_id %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
